[submodule "3rdparty/json-parser"]
	path = 3rdparty/json-parser
	url = https://github.com/ChromaticIsobar/json-parser.git
[submodule "3rdparty/json-builder"]
	path = 3rdparty/json-builder
	url = https://github.com/ChromaticIsobar/json-builder.git
[submodule "3rdparty/pure-data"]
	path = 3rdparty/pure-data
	url = https://github.com/pure-data/pure-data
